.App {
  text-align: center;
}

.page{
  background-image: url("assests/glitterBg.png");
  background-size: cover;
  background-position: center;
  height: 550px;
  color: white;  
  padding-top: 5%;
} 



.TitleText h1{
  color: var(--Accent, #19BACC);
  text-align: Center;
  font-family: "New Walt Disney UI";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 ;
}

.homeParagraphText{
  margin: 0 auto;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: var(--sds-typography-body-font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



/* Flex Box ./Home & ./Comparison
  --------------------------------------------- 
  This is used to style the flex box for the home and comparison page
*/
.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column.small {
  flex: 1;
}

.column.large {
  flex: 2;
}

.large-column-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}


