.App {
  text-align: center;
}

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.page{
  background-image: url("assests/glitterBg.png");
  background-size: cover;
  background-position: center;
  height: 550px;
  color: white;  
  padding-top: 5%;
} 

.TitleText h1{
  color: var(--Accent, #19BACC);
  text-align: Center;
  font-family: "New Walt Disney UI";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0;
}

.homeParagraphText{
  margin: 0 auto;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: var(--sds-typography-body-font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Home ./Home
  --------------------------------------------- 
  This is used to style the Container abd buttons on the home page

*/

.home-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}
.button-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

/* Flex Box ./Home & ./Comparison
  --------------------------------------------- 
  This is used to style the flex box for the home and comparison page
*/
.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column.small {
  flex: 1;
}

.column.large {
  flex: 2;
}

.large-column-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}


/* Comparison ./Comparison
  --------------------------------------------- 
  This is used to style the Cards that contain the doughnut chart and Plus button on the comparison page.

*/
.doughnut-chart{
  width: 200px;
  height: 200px;
}

.comparison-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.comparisonChart {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card {
  
  width: 200px;
  background-color: rgba(115, 115, 115, 0.10);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
}

.card-content h2 {
  margin: 0;
  font-size: 24px;
}

.card-content .doughnut-chart {
  margin: 20px 0;
}

.card-content .rating {
  font-size: 18px;
  color: #D9D9D9;
}

/* Navigation Bar ./Navbar
  --------------------------------------------- 
  This is used to style the Navigation bar on the home page.
*/
.nav-link {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.nav-link:hover {
  color: #19BACC; /* Change to your desired hover color */
}

/* Primary Buttons ./Button
  --------------------------------------------- 
  This is used to style the primary buttons on the home page.
*/
.custom-button {
  width: 280px;
  height: 80px;
  border-radius: 10px;
  background-color: #19BACC;
  color: #FFFFFF;
  border: none;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
}

.custom-button:hover {
  background-color: #D9D9D9;
  color: #19BACC;
}